body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lora', serif;
font-family: 'Marcellus', serif;
font-family: 'Rokkitt', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.blog-container{
  display: grid;
  grid-column-start: span 3;
  height: 200px;
  width: 400px;




}


img{
  height: 100px;
  width: 200px;
}


/* //HERO SECTION */
.hero-section{
  width: 100%;
  height: calc(100vh - 20px);
  background-image: url('https://media.istockphoto.com/photos/neon-blog-sign-picture-id1270290167?b=1&k=20&m=1270290167&s=170667a&w=0&h=_5S-hkfJtimFnhM_9XOwu9HpVB2ya8vykNHi5e9BJeg=');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .logo{
  height: 150px;
  display: block;
  margin: auto;
}

.hero-section .sub-heading{
  margin-top: 0px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 95px;
  font-weight: 300;
}